@charset "utf-8";
@font-face {
  font-family: OttogiSans;
  font-weight: 200;
  src: url(../webfont/OttogiSans-ExtraLight.otf);
}
@font-face {
  font-family: OttogiSans;
  font-weight: 300;
  src: url(../webfont/OttogiSans-Light.otf);
}
@font-face {
  font-family: OttogiSans;
  font-weight: 500;
  src: url(../webfont/OttogiSans-Medium.otf);
}
@font-face {
  font-family: OttogiSans;
  font-weight: 600;
  src: url(../webfont/OttogiSans-Bold.otf);
}
@font-face {
  font-family: OttogiSans;
  font-weight: 900;
  src: url(../webfont/OttogiSans-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: OttogiSans;
}
::selection {
  color: #000;
  background-color: #ffed00;
}
.font_yellow::selection {
  color: #ffed00;
}
button {
  border: 0;
  cursor: pointer;
}
.top_menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 9999;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s linear;
  z-index: 9999;
}
header.on {
  background: #fff;
}
header:before {
  content: "";
  position: absolute;
  top: 100px;
  height: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: height 0.2s linear;
}
header.on:before {
  position: absolute;
  top: 100px;
  height: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: height 0.2s linear;
  height: 388px;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}
header.off:after {
  opacity: 0;
}
header .inner .header_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
header .inner {
  width: 100%;
  padding: 0 75px;
}
header .inner .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 58px;
  height: 58px;
}
header .inner .logo a {
  display: flex;
  align-items: center;
}
header .inner .logo a .icon {
  width: 58px;
  height: 58px;
  background: url(../images/logo_wh.svg) no-repeat 0 0 / 100% 100%;
}
header .inner nav .gnb {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -189px;
}
header .inner nav .gnb li a {
  display: flex;
  align-items: center;
  height: 100%;
}
header .inner nav .gnb > li {
  position: relative;
  height: 100%;
  transition: all 0.3s;
}
header .inner nav .gnb > li > a {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding: 0 35px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
header .inner nav .gnb > li > a.on {
  color: #333;
  text-shadow: none;
}
header .inner nav .gnb > li:hover > a {
  color: #dc2f34;
}
header .inner nav .gnb > .sitemap {
  display: block;
  padding: 0 15px;
}
header .inner nav .gnb > .sitemap a {
  background: url(../images/btn_menu_w.svg) no-repeat 50% 50% / 30px 30px;
}
header .inner nav .gnb > .sitemap:hover a {
  background: url(../images/btn_menu_w_hover.svg) no-repeat 50% 50% / 30px 30px;
  transition: all 0.5s cubic-bezier(0.6, 0, 0, 1);
}
header .inner nav .gnb > .sitemap a.on {
  background: url(../images/btn_menu.svg) center no-repeat;
}
header .inner nav .gnb > .sitemap:hover a.on {
  background: url(../images/btn_menu_hover.svg) center no-repeat;
}
header .inner .lang {
  position: absolute;
  top: 50%;
  right: 282px;
  transform: translateY(-50%);
  font-weight: 500;
}
header .inner .lang > a {
  position: relative;
  padding-right: 25px;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
header .inner .lang > a:after {
  content: url(../images/sel_lang_w.svg);
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
header .inner .lang > a.on:after {
  content: url(../images/sel_lang.svg);
}
header .inner .lang .dropLang {
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: -30px;
  padding: 0 30px;
  border-radius: 5px;
  background: #f8f8f8;
  transition: all 0.5s;
}
header .inner .lang .dropLang.on {
  height: 88px;
}
header .inner .lang .dropLang ul li:last-child {
  margin-top: 12px;
}
header .inner .lang .dropLang ul li a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: transparent;
  color: #000;
}
header .inner .lang .dropLang ul li.on a {
  font-weight: 500;
}
header .inner .top_icon {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-55%);
  display: flex;
  align-items: center;
}
header .inner .top_icon li {
  margin-left: 30px;
}
header .inner .top_icon .btn_search {
  width: 30px;
  height: 30px;
  background: url(../images/gnb_search.svg) center/cover no-repeat;
  border: none;
  cursor: pointer;
}
header .inner .top_icon .chatbot {
  display: block;
  width: 36px;
  height: 30px;
  background: url(../images/gnb_chatbot.svg) center/cover no-repeat;
}
header .inner .top_icon .mall {
  position: relative;
  display: block;
  width: 126px;
  height: 28px;
  background: #fffc29 url(../images/gnb_mall.svg) 10px 50% no-repeat;
  border-radius: 8px;
}
header .inner .top_icon .mall:after {
  position: absolute;
  top: 55%;
  right: 10px;
  margin-top: -9px;
  content: url(../images/ico_arrow.svg);
}
header .inner .top_icon .mall:hover::after {
  animation: ani 0.5s ease-in-out infinite alternate;
}
@keyframes ani {
  0% {
    margin-top: -9px;
    right: 10px;
  }
  50% {
    margin-top: -11px;
    right: 8px;
  }
  100% {
    margin-top: -9px;
    right: 10px;
  }
}
header .inner nav .gnb .sub {
  position: absolute;
  top: 100px;
  left: 0;
  text-align: left;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-left: 35px;
  transition: height 0.2s linear;
}
header .inner nav .gnb .sub li {
  margin-bottom: 20px;
}
header .inner nav .gnb .sub li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}
header .inner nav .gnb .sub:hover li a {
  color: #000;
}
header .inner nav .gnb .sub li:hover a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
.main_wrap .main_tit {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1.44px;
  font-weight: 500;
  text-align: center;
}
.main_tit .text1 {
  display: block;
}
.main_tit .text2 {
  display: inline;
}
.main .inner {
  height: 100%;
}
.main .inner .main_visual {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.main .inner .main_visual .swiper-container {
  height: 100%;
}
.main .inner .main_visual .swiper-slide a {
  display: block;
  height: 100%;
}
.main .inner .main_visual .swiper-slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.main .inner .main_visual .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .inner .main_visual .swiper-slide .mask {
  width: 100%;
  height: 105%;
  object-fit: cover;
  mask-image: url(../images/mask.png);
  mask-size: 66.66% 56.29%;
  mask-repeat: no-repeat;
  mask-position: center bottom;
  transition: mask-size 1s;
  transition-delay: 0.8s;
}
.main .inner .main_visual .swiper-slide .mask.on {
  mask-size: 500% 400%;
}
.main .inner .main_visual .swiper-slide .slide_img {
  display: block;
  height: 100%;
}
.main .inner .main_visual .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .inner .main_visual .swiper-slide .slide_cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1480px;
  margin: 0 auto;
}
.main .inner .main_visual .swiper-slide .slide_cont .slide_tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 80px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 100px;
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
  text-align: center;
}
.main .inner .main_visual .controller {
  position: absolute;
  bottom: 70px;
  left: 70px;
  right: 70px;
  max-width: 441px;
  height: 50px;
  margin: 0 auto;
  z-index: 9999;
}
.main .main_visual .controller .swiper-pagination-fraction {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 241px;
  height: 24px;
  margin-top: -12px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.8px;
}
.main .main_visual .controller .swiper-pagination-current {
  font-weight: 700;
}
.main .main_visual .controller .swiper-pagination-total {
  position: absolute;
  top: 0;
  right: 0;
}
.main .main_visual .controller .swiper-pagination2 {
  top: 50%;
  left: 29px;
  width: 180px;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.3);
}
.controller .swiper-pagination2 .swiper-pagination-progressbar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  /* transform: scaleX(0.16) scaleY(1); */
  transform-origin: left top;
}
.controller button {
  position: absolute;
  top: 50%;
  right: 120px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.controller .btn_wrap .pause {
  background: url(../images/btn_pause_main.svg) no-repeat 50% 50% / 100% 100%;
}
.controller .btn_wrap .pause:hover {
  background: url(../images/btn_pause_main_hover.svg) no-repeat 50% 50% / 100%
    100%;
}
.controller .btn_wrap .play {
  background: url(../images/btn_play_main.svg) no-repeat 50% 50% / 100% 100%;
  display: none;
}
.controller .btn_wrap .play.on {
  display: block;
}
.controller .btn_wrap .play:hover {
  background: url(../images/btn_play_main_hover.svg) no-repeat 50% 50% / 100%
    100%;
}
.controller .next {
  right: 0;
  background: url(../images/btn_next_main.svg) no-repeat 50% 50% / 100% 100%;
}
.controller .next:hover {
  right: 0;
  background: url(../images/btn_next_main_hover.svg) no-repeat 50% 50% / 100%
    100%;
}
.controller .prev {
  left: auto;
  right: 60px;
  background: url(../images/btn_prev_main.svg) no-repeat 50% 50% / 100% 100%;
}
.controller .prev:hover {
  left: auto;
  right: 60px;
  background: url(../images/btn_prev_main_hover.svg) no-repeat 50% 50% / 100%
    100%;
}
.btn_more {
  margin-top: 40px;
  width: 100%;
  height: 30px;
}
.btn_more a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../images/btn_more_pc.svg) no-repeat 50% 50% / 100% 100%;
}
.btn_more:hover a {
  animation: move 0.5s ease-in-out infinite alternate;
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
/* info sec start */
.info {
  position: relative;
  width: 100%;
  max-width: 1462px;
  margin: 0 auto;
  font-weight: 500;
  padding-top: 60px;
}
.info .scroll_down {
  position: relative;
  display: block;
  width: 93px;
  height: 90px;
  margin: 0 auto;
  background: url(../images/ico_scroll.svg) center no-repeat;
}
.info .scroll_down::after {
  content: url(../images/ico_scroll_arw.svg);
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -8px;
  animation: down 1s infinite;
}
@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.info h3 {
  text-align: center;
  margin-top: 100px;
}
.info .one {
  position: relative;
  display: flex;
  padding-top: 180px;
}
.info .one .svg1 {
  position: absolute;
  top: 40px;
  left: 150px;
  transform: scale(2);
  z-index: 9;
}
.info .txt {
  width: 554px;
  height: 500px;
  padding: 97px 113px 0 0;
}
.info .txt h1 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1.4px;
  font-weight: 500;
}
.info .font_yellow {
  -webkit-text-stroke: 1px #000;
  color: #ffed00;
  font-size: 50px;
}
.info .txt p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 30px;
  word-break: keep-all;
  font-weight: 300;
}
.info .item {
  position: relative;
  display: flex;
  width: 780px;
  height: 500px;
  margin-left: 128px;
}
.info .item .img_box {
  width: 450px;
  height: 500px;
}
.info .item .img_box .thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.info .item .img_box .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info .item1 .thumb {
  border-radius: 200px;
}
.info .item .clipped {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.info .item .svg {
  position: absolute;
}
.info .clipped.path1 {
  clip-path: url(#my-clip-path);
}
.info .clipped.path2 {
  clip-path: url(#my-clip-path2);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade1 {
  animation: fadeOut 3.5s ease-in-out 1.5s infinite alternate;
}
.fade2 {
  opacity: 0;
  animation: fadeIn 3.5s ease-in-out 1.5s infinite alternate;
}
.info .two {
  position: relative;
  display: flex;
}
.info .two .svg2 {
  position: absolute;
  top: 360px;
  right: 70px;
  transform: scale(1.5);
  z-index: 9;
}
.info .two .txt {
  width: 690px;
  height: 500px;
  margin-left: 90px;
  padding-top: 154px;
}
.info .three {
  display: flex;
  height: 477px;
}
.info .three .thumb {
  position: relative;
}
.info .three .txt {
  padding: 194px 113px;
}
.info .three .svg3 {
  position: absolute;
  left: -18px;
  bottom: -85px;
  width: 410px;
  height: 285px;
  transform: scale(1.3);
}
/* info sec end */
/* global start */
.global {
  position: relative;
  width: 100%;
  padding: 230px 0 170px 0;
  margin-top: 350px;
  background: #fffdeb;
  overflow: hidden;
}
.global::after {
  content: url(../images/global_bg_pc.svg);
  position: absolute;
  right: -220px;
  bottom: -150px;
  width: 900px;
  height: 900px;
}
.global .inner {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}
.global .inner .tit_wrap {
  width: 100%;
  height: 246px;
}
.global .inner .tit_wrap .sub_tit {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -1.4px;
}
.global .inner .tit_wrap .main_tit {
  font-size: 80px;
  font-weight: 500;
  color: #dc2f34;
  margin-top: 10px;
  letter-spacing: -1.4px;
  text-align: left;
}
.global .inner .tit_wrap .desc {
  margin-top: 34px;
  font-size: 26px;
  font-weight: 300;
  line-height: 38px;
}
.global .inner .global_cont {
  position: relative;
  padding-top: 80px;
  z-index: 999;
}
.global .inner .global_cont.on {
  opacity: 1;
}
.global_cont .img_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.global_cont .img_wrap li {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s;
  overflow: hidden;
}
.global_cont .img_wrap li.on {
  transform: scale(1);
}
.global_cont .img_wrap li span {
  position: absolute;
  width: auto;
  height: auto;
}
.global_cont .img_wrap li .fade {
  opacity: 1;
  transition: opacity 2s;
}
.global_cont .img_wrap li .fade:after {
  content: "";
  background: url(../images/main_global1.png);
  background-size: 1300px 490px;
  display: block;
  width: 220px;
  height: 220px;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.global_cont .img_wrap li .fade2:after {
  content: "";
  display: block;
  width: 220px;
  height: 220px;
  background: url(../images/main_global2.png);
  background-size: 1300px 490px;
}
.global .inner .global_cont .img_wrap .bg2 .fade:after {
  background-position-x: -270px;
}
.global .inner .global_cont .img_wrap .bg2 .fade2:after {
  background-position-x: -270px;
}
.global_cont .img_wrap .bg3 .fade:after {
  background-position-x: -540px;
}
.global_cont .img_wrap .bg3 .fade2:after {
  background-position-x: -540px;
}
.global_cont .img_wrap .bg4 .fade:after {
  background-position-x: -810px;
}
.global_cont .img_wrap .bg4 .fade2:after {
  background-position-x: -810px;
}
.global_cont .img_wrap .bg5 .fade:after {
  background-position-x: -1080px;
}
.global_cont .img_wrap .bg5 .fade2:after {
  background-position-x: -1080px;
}
.global_cont .img_wrap .bg6 .fade:after {
  background-position: 0 220px;
}
.global_cont .img_wrap .bg6 .fade2:after {
  background-position: 0 220px;
}
.global_cont .img_wrap .bg7 .fade:after {
  background-position: -270px 220px;
}
.global_cont .img_wrap .bg7 .fade2:after {
  background-position: -270px 220px;
}
.global_cont .img_wrap .bg8 .fade:after {
  background-position: -540px 220px;
}
.global_cont .img_wrap .bg8 .fade2:after {
  background-position: -540px 220px;
}
.global_cont .img_wrap .bg9 .fade:after {
  background-position: -810px 220px;
}
.global_cont .img_wrap .bg9 .fade2:after {
  background-position: -810px 220px;
}
.global_cont .img_wrap .bg10 .fade:after {
  background-position: -1080px 220px;
}
.global_cont .img_wrap .bg10 .fade2:after {
  background-position: -1080px 220px;
}
/* global end */
/* esg start */
.esg {
  overflow: hidden;
  padding-top: 150px;
}
.esg .inner {
  max-width: 100%;
  padding: 0 75px;
}
.esg .swiper {
  padding: 100px 0 6px;
}
.esg .swiper-slide {
  flex: 1;
  width: 24.52%;
  height: 570px;
  border-radius: 10px;
}
.esg .swiper-slide.on {
  flex: none;
  width: 47.34% !important;
  transition: width 0.7s;
}
.esg .slide1 {
  background: url(../images/main_esg1.jpg) no-repeat 50% 50% / cover;
}
.esg .slide2 {
  background: url(../images/main_esg2.jpg) no-repeat 50% 50% / cover;
}
.esg .slide3 {
  background: url(../images/main_esg3.jpg) no-repeat 50% 50% / cover;
}
.esg .swiper-slide a {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 10px;
}
.esg .swiper-slide a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.esg .swiper-slide.on a:before {
  background: rgba(0, 0, 0, 0.3);
}
.esg .swiper-slide .txt_wrap {
  position: absolute;
  top: 100px;
  left: 60px;
  right: 60px;
  bottom: 0;
  color: #fff;
}
.esg .swiper-slide .txt_wrap .tit_box .en {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.esg .swiper-slide.on .txt_wrap .en {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.esg .swiper-slide .txt_wrap .ko {
  display: block;
  margin-top: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.8px;
  white-space: nowrap;
}
.esg .swiper-slide.on .txt_wrap .ko {
  margin-top: 20px;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: -1.92px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.esg .swiper-slide .txt_wrap .desc {
  width: 240px;
  margin-top: 50px;
  opacity: 0;
}
.esg .swiper-slide.on .txt_wrap .desc {
  width: 430px;
  margin-top: 40px;
  opacity: 1;
  transition: opacity 1s;
}
.esg .swiper-slide .txt_wrap .desc p {
  word-break: keep-all;
}
.esg .swiper-slide.on .txt_wrap .desc p {
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.esg .swiper-slide .txt_wrap .btn_more {
  display: block;
  position: static;
  background: url(../images/btn_more_wh_pc.svg) no-repeat;
  margin-top: 30px;
}
.story {
  padding-top: 220px;
}
.story .bg_img {
  position: relative;
  margin-top: 80px;
  height: 890px;
  background: url(../images/main_brand_pc.jpg) no-repeat 0 0 / cover;
}
.story .bg_img .txt_wrap {
  position: absolute;
  top: 242px;
  left: 19.27%;
  right: 19.27%;
}
.story .txt_wrap .ottogi {
  display: block;
  color: #fff;
  font-size: 180px;
  line-height: 240px;
  letter-spacing: 27px;
}
.story .txt_wrap .brand_story {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.story .txt_wrap .brand_story .brand {
  position: relative;
  color: #ffed00;
  font-size: 120px;
  font-weight: 600;
  margin-top: 7px;
  line-height: 120px;
  letter-spacing: 12px;
}
.story .txt_wrap .brand_story .brand:after {
  content: "";
  position: absolute;
  right: -356px;
  bottom: 12px;
  width: 440px;
  height: 2px;
  background: #ffed00;
}
.story .txt_wrap .brand_story .story {
  color: #ffed00;
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0;
  text-align: right;
  padding-top: 0;
  padding-left: 180px;
}
.story .txt_wrap .desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 38px;
  color: #fff;
  text-align: right;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.story .txt_wrap .desc .text2 {
  display: inline-block;
}
.story .bg_img .btn_more {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 19.27%;
  bottom: 87px;
}
.story .bg_img .btn_more a {
  background: url(../images/btn_more_wh_pc.svg);
}
/* story section end */
/* product section start */
.product {
  position: relative;
  padding: 135px 0;
  overflow: hidden;
}
.product .inner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12.5%;
  box-sizing: content-box;
}
.product .bg_ani {
  display: block;
  background: url(../images/prd_bg.png) no-repeat 50% / 100%;
  transform: translateX(-50%);
  position: absolute;
  top: -300px;
  left: 50%;
  width: 42.875%;
  height: 189.91%;
  margin-left: -5%;
}
.product .bg_ani.on {
  width: 500%;
  height: 500%;
}
.product .main_tit {
  position: absolute;
  right: 12.5%;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: -1.92px;
  text-align: right;
  text-shadow: 4px 4px 4px #ffed00;
}
.product .slider {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.product .slider .swiper-slide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.product .slider .swiper-wrapper {
  transition-property: transform !important;
}

.product .slider .swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.5s ease !important; /* Add a transition for smoother fade effect */
}

.product .slider .swiper-slide-active {
  opacity: 1 !important; /* Make the active slide fully visible */
  transition: opacity 0.5s ease !important; /* Add a transition for smoother fade effect */
}
.product .slider .swiper-slide .text_box {
  width: 471px;
  margin-top: 200px;
  margin-bottom: 120px;
  text-align: right;
  transition: width 0.3s;
}
.product .text_box .item {
  font-size: 26px;
  line-height: 38px;
  padding: 5px 30px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  white-space: nowrap;
}
.product .text_box .tit {
  font-size: 48px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -1.44px;
  margin-top: 40px;
  word-break: keep-all;
}
.product .text_box .btn_mall {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 40px;
  margin-right: 24px;
}
.product .text_box .btn_mall:after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -24px;
  width: 16px;
  height: 16px;
  background: url(../images/ico_arrow.svg);
}
.product .text_box .btn_mall:hover {
  border-bottom: 1px solid #000;
}
.product .text_box .btn_mall span {
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
}
.product .img_box {
  flex: none;
  width: 625px;
  height: 500px;
  margin: 60px 0;
  transition: 0.3s;
}
.product .img_box .item_img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product .img_box .item_img img {
  position: absolute;
  top: 0;
}
.product .slider .controller2 {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: auto;
  height: 90px;
  margin-left: -124px;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 9999;
}
.product .slider .controller2 .swiper-pagination {
  position: relative;
  bottom: 0;
  order: 2;
  width: auto;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.8px;
  line-height: 90px;
}
.product .slider .controller2 .swiper-pagination-current {
  font-weight: 700;
  color: #dc2f34;
}
.product .slider .controller2 button {
  position: relative;
  top: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: -45px;
  cursor: pointer;
}
.product .slider .controller2 .prev {
  left: 0;
  order: 1;
  background: #fff url(../images/btn_prev.svg) no-repeat 50% 50% / 18px 34px;
}
.product .slider .controller2 .next {
  order: 3;
  background: #fff url(../images/btn_next.svg) no-repeat 50% 50% / 18px 34px;
}
.product .slider .controller2 .pause {
  right: 0;
  background: #fff url(../images/btn_pause_b.svg) no-repeat 50% 50% / 16px 32px;
  order: 4;
}
.product .slider .controller2 .play {
  display: none;
  right: 0;
  background: #fff url(../images/btn_play_b.svg) no-repeat 50% 50% / 16px 32px;
  order: 4;
}
.product .slider .controller2 .play.on {
  display: inline-block;
}
/* product section end */
/* news section start */
.news {
  padding-top: 150px;
}
.news .inner {
  position: relative;
  padding: 0 75px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
}
.news .inner .box_tit {
  padding: 80px 0 0;
  font-weight: 500;
}
.box_tit {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.8px;
}
.news .news_slider {
  margin: 0 0 0 -30px;
}
.news .news_slider .swiper-wrapper {
  flex-wrap: wrap;
}
.news .news_slider .swiper-slide {
  width: calc(33.33% - 30px) !important;
  margin-left: 30px;
  margin-top: 30px;
}
.news .news_slider .swiper-slide a {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.news .news_slider .swiper-slide a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 4%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}
.news .news_slider .swiper-slide a .img_box {
  padding-top: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.news .news_slider .swiper-slide a .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
.news .news_slider .swiper-slide a:hover img {
  transform: scale(1.2);
}
.news .news_slider .swiper-slide a .txt_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  z-index: 2;
}
.news .news_slider .swiper-slide a .txt_box .txt {
  font-size: 24px;
  line-height: 34px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #fff;
}
.news .inner .btn_more a {
  display: block;
  position: absolute;
  top: 220px;
  right: 75px;
}
/* news sec end */
/* recipe sec start */
.recipe {
  padding: 100px 0;
  margin-top: 150px;
  background: #f8f8f8;
}
.recipe .inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
  box-sizing: content-box;
}
.recipe .inner .txt {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.8px;
  font-weight: 500;
}
.recipe .inner p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  font-weight: 300;
}
.recipe .inner .recipe_slider {
  position: relative;
  margin: 0 0 0 -30px;
}
.recipe .inner .recipe_slider .swiper-wrapper {
  flex-wrap: wrap;
  margin-top: -20px;
}
.recipe .inner .recipe_slider .swiper-wrapper .swiper-slide {
  width: calc(25% - 30px) !important;
  margin-left: 30px;
  margin-top: 50px;
}
.recipe .inner .recipe_slider .swiper-slide a {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.recipe .inner .recipe_slider .swiper-slide a .img_box {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 100%;
}
.recipe .inner .recipe_slider .swiper-slide a .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.recipe .inner .recipe_slider .swiper-slide a:hover img {
  transform: scale(1.2);
}
.recipe .inner .recipe_slider .swiper-slide a .txt_box {
  margin-top: 20px;
}
.recipe .inner .recipe_slider .swiper-slide a .txt_box p {
  display: inline-block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}
.recipe .inner .recipe_slider .swiper-slide a .txt_box p:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 34px;
  margin-left: 5px;
  background: url(../images/ico_arrow.svg) no-repeat 50% 50% / 100% 100%;
  vertical-align: top;
}
.recipe .tag {
  margin-top: 5px;
}
.recipe .tag span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #666;
}
/* recipe sec end */
/* sns sec start */
.sns {
  position: relative;
  padding-top: 150px;
}
.sns .inner {
  position: relative;
  width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
  box-sizing: content-box;
}
.sns .inner .txt {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.8px;
}
.sns .inner .tab_icon {
  display: flex;
  justify-content: center;
}
.sns .inner .tab_icon ul {
  display: flex;
  gap: 80px;
}
.sns .inner .tab_icon ul li button {
  width: 80px;
  padding-top: 80px;
  background-color: transparent;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: top 0 left 50%;
  border: 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 38px;
  color: #666;
  cursor: pointer;
  font-family: OttogiSans;
}
.sns .inner .tab_icon ul li .sns1 {
  background-image: url(../images/ico_sns1.svg);
}
.sns .inner .tab_icon ul li .sns2 {
  width: 100px;
  background-image: url(../images/ico_sns2.svg);
}
.sns .inner .tab_icon ul li .sns3 {
  background-image: url(../images/ico_sns3.svg);
}
.sns .inner .tab_icon ul li.on button {
  color: #000;
  font-weight: 500;
}
.sns .tab_cont {
  position: relative;
}
.sns .tab_cont > div {
  margin: 0 0 0 -30px;
}
.sns .tab_cont > div ul {
  flex-wrap: wrap;
}
.sns .tab_cont > div ul li {
  width: calc(33.33% - 30px);
  margin-top: 50px;
  margin-left: 30px;
}
.sns .tab_cont > div ul li a {
  display: block;
  height: 100%;
  padding: 30px;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
}
.sns .tab_cont > div ul li a .sns_id {
  position: relative;
  padding-left: 40px;
  font-size: 18px;
}
.sns .tab_cont > div ul li a .sns_id:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: url(../images/insta_26x26.png) no-repeat 0 0 / 100% 100%;
}
.sns .tab_cont > div ul li a .img_box {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100%;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}
.sns .tab_cont > div ul li a .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.sns .tab_cont > div ul li a:hover img {
  transform: scale(1.2);
}
.sns .tab_cont > div ul li a .txt_box {
  padding-top: 22px;
}
.sns .tab_cont > div ul li a .txt_box .txt {
  font-size: 20px;
  line-height: 28px;
  height: 56px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sns .tab_cont .cont2 {
  display: none;
}
.sns .tab_cont .cont3 {
  display: none;
}
.sns .btn_more {
  margin-top: 0;
  width: 0;
  height: 0;
}
.sns .btn_more a {
  position: absolute;
  top: 105px;
  right: 75px;
  padding-top: 0;
  background: url(../images/btn_more.svg) no-repeat 50% 50% / 100% 100%;
}
/* sns sec end */
/* footer start */
footer .inner {
  padding: 165px 75px 60px;
}
footer .inner .f_cont {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid #000;
}
.f_cont .f_logo a {
  display: block;
  width: 200px;
  height: 50px;
  background: url(../images/f_logo.svg) no-repeat 0 0 / 100% 100%;
}
.f_cont .f_menu {
  flex: 1;
  padding-left: 10px;
}
.f_cont .f_menu .f_list {
  display: flex;
}
.f_cont .f_menu .f_list > li {
  margin-left: 130px;
}
.f_cont .f_menu .f_list li .list_tit {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  transition: all 0.3s;
}
.f_cont .f_menu .f_list li .list li {
  margin-top: 20px;
}
.f_cont .f_menu .f_list li .list li + li {
  margin-top: 12px;
}
.f_cont .f_menu .f_list li .list li a {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}
.f_cont .f_menu .f_list li .list .name a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -21px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url(../images/ico_arrow.svg) no-repeat 0 50% / 16px 16px;
}
.f_cont .f_menu .f_list li .list li a:hover {
  border-bottom: 1px solid #000;
}
.f_cont .f_menu .f_list > li:last-child strong {
  font-weight: 500;
}
.f_cont .f_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -90px;
}
.f_cont .f_right .f_sns {
  display: flex;
}
.f_cont .f_right .f_sns li {
  margin-right: 30px;
}
.f_cont .f_right .f_sns li:last-child {
  margin-right: 0;
}
.f_cont .f_right .f_sns li a {
  display: block;
  width: 28px;
  height: 28px;
}
.f_cont .f_right .f_sns .insta a {
  background: url(../images/btn_instagram.svg) no-repeat 0 0 / 28px 28px;
}
.f_cont .f_right .f_sns .youtube a {
  background: url(../images/btn_youtube.svg) no-repeat 0 0 / 28px 28px;
}
.f_cont .f_right .f_sns .facebook a {
  background: url(../images/btn_facebook.svg) no-repeat 0 0 / 28px 28px;
}
.f_cont .f_right .f_sns .blog a {
  background: url(../images/btn_blog.svg) no-repeat 0 0 / 28px 28px;
}
.f_cont .f_right .number {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.f_cont .f_right .number dl {
  display: flex;
  margin-top: 10px;
}
.f_cont .f_right .number dl dt {
  width: 144px;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  color: #666;
}
.f_cont .f_right .number dl dd {
  font-size: 18px;
  font-weight: 500px;
  line-height: 26px;
  margin-left: 16px;
}
.f_cont .f_right .number dl dd span {
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
  color: #666;
}
.f_cont .f_right .mark {
  margin-top: 60px;
}
.f_cont .f_right .mark ul {
  display: flex;
  align-items: center;
  gap: 26px;
}
.f_cont .f_right .mark ul li a {
  display: block;
}
.f_cont .f_right .mark ul li .iso {
  width: 69px;
  height: 44px;
  background: url(../images/iso_mark.png) no-repeat 0 0 / 100% 100%;
}
.f_cont .f_right .mark ul li .wa {
  width: 48px;
  height: 34px;
  background: url(../images/wa_mark.png) no-repeat 0 0 / 100% 100%;
}
.f_cont .f_right .mark ul li .ffsb {
  width: 140px;
  height: 32px;
  background: url(../images/ffsb_mark.png) no-repeat 0 0 / 100% 100%;
}
.f_cont .f_right .copyright {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #666;
  margin-top: 10px;
}
/* footer end*/
/* fixed_float start */
.fixed_float {
  position: fixed;
  right: -300px;
  bottom: calc(var(--vh, 1vh) * 25);
  width: 300px;
  transition: all 0.3s;
  z-index: 9999;
}
.fixed_float.on {
  right: 20px;
}
.fixed_float .btn_open {
  display: block;
  position: fixed;
  right: 0;
  bottom: 40%;
  width: 54px;
  height: 80px;
  background: url(../images/btn_floating_open.svg) no-repeat 0 0 / 100% 100%;
  transition: all 0.3s;
}
.fixed_float.on .btn_open {
  right: -54px;
}
.fixed_float .img_wrap {
  position: relative;
}
.fixed_float .img_wrap a {
  position: relative;
  display: block;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.fixed_float .img_wrap img {
  width: 100%;
  vertical-align: middle;
}
.fixed_float .btn_close {
  display: block;
  position: absolute;
  right: 0;
  bottom: -56px;
  width: 40px;
  height: 40px;
  background: url(../images/btn_floating_close.svg) no-repeat 0 0 / 100% 100%;
}
.go_top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 80px;
}
.go_top a {
  display: none;
  width: 80px;
  height: 72px;
  background: url(../images/btn_top_pc.svg) no-repeat 0 0 / 100% 100%;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
}
.go_top a.on {
  display: block;
}
